#clock{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#clock .date{
    margin-right: 20px;
}

#clock #clock-mili-seconds .mili-seconds{
    margin: 0;
    padding: 0;

    border-right: none;
}

#clock .date p:nth-child(1){
    font-size: 4rem;

    padding-right: 1rem;

    border-right: 1px solid #ccc;

    text-align: center;
}

#clock .date p:nth-child(2){
    font-size: 1rem;
    text-align: center;

    width: 72.19px;

    color:  rgb(94, 93, 93);;
}

#buttons{
    width: 100%;

    display: flex;
    justify-content: center;
}

#buttons .start{
    height: 2rem;
    width: 3.5rem;
    margin-right: 1rem;

    background: rgb(22, 175, 22);
    color: white;

    border-radius: 3px;
    border: 1px solid rgb(2, 87, 2);
    outline: none;

    cursor: pointer;
}

#buttons .start:hover{
    background: rgb(18, 119, 18);
}

#buttons .reset{
    height: 2rem;
    width: 3.5rem;

    background: rgb(230, 50, 50);
    color: white;

    border-radius: 3px;
    border: 1px solid rgb(172, 34, 34);
    outline: none;

    cursor: pointer;
}

#buttons .reset:hover{
    background: rgb(170, 16, 34);
}

/*Responsividade*/
@media (max-width: 768px){ 
    header a:nth-child(2){
        margin-top: 2rem;
    }
}

@media (max-width: 425px){ /*Mobile M - 375px*/
    header{
        width: 100%;
        margin: 0;
    }

    header a:nth-child(2){
        margin-top: 1rem;
    }

    header a h1{
        font-size: 1.4rem;
    }

    #container{
        width: 100%;
        margin: 0;

        overflow: hidden;
    }
    
    #clock .date{
        margin-right: 7px;
    }

    #clock .date p:nth-child(1){
        font-size: 3rem;

        padding-right: 0;
    }

    #clock #clock-mili-seconds{
        margin: 0;
    }

    #clock .date p:nth-child(2){
        font-size: 0.8rem;

        padding-right: 5px;
    }

    #clock #clock-mili-seconds p:nth-child(2){
        padding-right: 0;
    }

    #clock #clock-hours p:nth-child(1),
    #clock #clock-minutes p:nth-child(1),
    #clock #clock-seconds p:nth-child(1){
        padding-right: 7px;
    }
}