#buttons{
    width: 100%;

    display: flex;
    justify-content: center;
}

#buttons > button{
    width: 100px;
    height: 50px;
    margin: 0 10px;

    color: var(--White);
    background: var(--Dark-desaturated-blue);
    font-size: 1.1rem;

    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer; 
    
    transition: 0.3s;
}

#buttons .reset{
    background: var(--Soft-red);
}

#buttons .start:hover,
#buttons .pause:hover{
    background: #343650ab;
}

#buttons .reset:hover{
    background: #fb6087ab;
}

/*Responsive Cronomether*/
@media (min-width: 768px){
    .content-cronomether{
        margin-top: 30px;
    }
}

@media (min-width: 768px){
    .content-cronomether{
        height: 500px;
        margin-top: 0;
    }
}