*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Red Hat Text', sans-serif;
}

body{
    font-size: 14px;

    background-color: var(--Very-dark-blue);
    background-image: url(/public/assets/bg-stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

:root{
    /*Primary*/
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue-2: hsl(234, 17%, 12%);
}

.container{
    height: 100%;
}

.container img{
    width: 100%;
}

.content{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}

header{
    padding-top: 3%;
    margin: 0 auto;

    display: flex;

    border-bottom: 1px solid var(--Soft-red);
    padding-bottom: 10px;
}

header a{
    width: 50%;

    text-align: center;
    text-decoration: none;

    border: none;
    outline: none;

    cursor: pointer;
}

header h1{
    color: var(--White);
}

header h1.selected{
    color: var(--Soft-red);
}