/*Responsive cronomether*/
@media (min-width: 320px){
    header{
        align-items: center;
        width: 100%;
    }

    header a h1{
        font-size: clamp(1.2rem, 5vw, 2rem);
    }

    .content-cronomether{
        margin-top: 30px;
        height: initial;
    }

    .content-cronomether #clock{
        display: block;
    }

    #clock .timer .time{
        width: 100%;
        height: initial;
    }

    .timer p:nth-child(2){
        margin: 15px 0;
    }

    .container-cronomether img{
        position: relative;
        top: 5px;
    }
}

@media (min-width: 768px){
    header{
        width: 80%;
    }

    .content-cronomether{
        height: 500px;
        margin-top: 0;
    }

    .content-cronomether #clock{
        display: flex;
    }

    #clock .timer .time{
        width: 150px;
        height: 150px;
    }

    .timer p:nth-child(2){
        margin: 15px 0 0 0;
    }

    .container img{
        position: relative;
        top: 5px;
    }
}